n8n_workflow
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "predict-match",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f95b5aa6-a730-4301-aac9-7ed9969eea06",
      "name": "Webhook (Website Input)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1248,
        224
      ],
      "webhookId": "d0192271-fcdd-4c6e-be6a-a4078982b500"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "userMessage",
              "value": "={{ $json.body?.teams || $json.body?.message || $json.query?.teams }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.body?.sessionId || \"default-session\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6482bc17-515f-458c-925e-745067117704",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "let userMessage = $input.first().json.userMessage || '';\nuserMessage = userMessage.replace(/analyse le match|predict|match/gi, '').trim();\n\nconst patterns = [/(.+?)\\s+vs\\.?\\s+(.+)/i, /(.+?)\\s+v\\s+(.+)/i, /(.+?)\\s+-\\s+(.+)/i];\nlet team1 = '';\nlet team2 = '';\n\nfor (const pattern of patterns) {\n  const match = userMessage.match(pattern);\n  if (match) {\n    team1 = match[1].trim();\n    team2 = match[2].trim();\n    break;\n  }\n}\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    team1,\n    team2\n  }\n}));"
      },
      "id": "56837330-992f-45eb-8c89-2f916eea76aa",
      "name": "Parse Team Names",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8e43c678-49e0-4956-8883-c67f7d01884b",
      "name": "Neo4j Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        -64
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1sPPqTRsJ3UYuNUgddjMQG1Ooy76bRkVykmJWt1oDSrM"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "epl_final"
        },
        "options": {}
      },
      "id": "225c9d9d-c3eb-420c-af16-414e779b8dec",
      "name": "Read CSV Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m5p1kmZCzCK7AKfb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const team1 = $('Parse Team Names').first().json.team1.toLowerCase();\nconst team2 = $('Parse Team Names').first().json.team2.toLowerCase();\nconst allMatches = $input.all();\nconst filteredMatches = allMatches.filter(item => {\n  const homeTeam = (item.json.homeTeam || item.json.HomeTeam || '').toLowerCase();\n  const awayTeam = (item.json.awayTeam || item.json.AwayTeam || '').toLowerCase();\n  return (homeTeam.includes(team1) && awayTeam.includes(team2)) || (homeTeam.includes(team2) && awayTeam.includes(team1));\n});\nreturn [{ json: { source: 'csv', team1: $('Parse Team Names').first().json.team1, team2: $('Parse Team Names').first().json.team2, matches: filteredMatches.slice(0, 10) } }];"
      },
      "id": "68126016-ae90-4c92-bc4d-d20816129768",
      "name": "Filter CSV Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1f1a0eb0-222c-42c5-85f3-89ca22be0dba",
      "name": "Query MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -288,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Predict the match outcome for {{ $json.team1 }} vs {{ $json.team2 }} based purely on football knowledge, recent form, and tactical analysis. Provide prediction, probable score, and reasoning.",
        "batching": {}
      },
      "id": "623340ec-a37f-48a7-b02f-c6ad7f87b500",
      "name": "Direct LLM Prediction",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -352,
        624
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "48090f17-901e-4606-b313-17f367ac35fd",
      "name": "Merge All Predictions",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the final decision-maker for a Premier League match prediction system.\n\nAll available data sources:\n{{ JSON.stringify($json, null, 2) }}\n\nYour task:\n- Read and understand results from ALL available paths\n- Identify which sources are present and which are missing\n- Give higher importance to data-driven sources (Neo4j and CSV)\n- Use MongoDB insights as supporting context when available\n- Use pure language-model analysis only when data is weak, missing, or conflicting\n\nIf multiple sources agree, follow the consensus.\nIf sources disagree, explain briefly why and choose the outcome supported by the strongest evidence.\nIf no data sources are available, rely entirely on football reasoning.\n\nProduce ONE final match prediction:\n- Decide the most likely outcome (home win, away win, or draw)\n- Estimate a realistic probable score\n- Indicate your confidence level\n- Explain your reasoning clearly and concisely\n\nBe decisive. Avoid hedging. Do not repeat raw data. Speak like an expert analyst making the final call.",
        "batching": {}
      },
      "id": "56f00a64-48b8-410f-923d-8b7e3a83a19c",
      "name": "Final Judge LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        224
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"prediction\": $json.text } }}",
        "options": {}
      },
      "id": "9e146471-79f9-4edd-8866-995446e3832b",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        224
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "fbe10b20-20f6-4e93-a9f0-63602a853bd2",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -288,
        848
      ],
      "credentials": {
        "openAiApi": {
          "id": "bIPN9jXVnJOJpPTr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "f193669d-f536-4d69-ab8f-55303adb416d",
      "name": "OpenAI Model Final",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        448
      ],
      "credentials": {
        "openAiApi": {
          "id": "bIPN9jXVnJOJpPTr",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Webhook (Website Input)": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Parse Team Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Team Names": {
      "main": [
        [
          {
            "node": "Neo4j Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read CSV Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query MongoDB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Direct LLM Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neo4j Query": {
      "main": [
        [
          {
            "node": "Merge All Predictions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV Data": {
      "main": [
        [
          {
            "node": "Filter CSV Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter CSV Data": {
      "main": [
        [
          {
            "node": "Merge All Predictions",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Query MongoDB": {
      "main": [
        [
          {
            "node": "Merge All Predictions",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Direct LLM Prediction": {
      "main": [
        [
          {
            "node": "Merge All Predictions",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Predictions": {
      "main": [
        [
          {
            "node": "Final Judge LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Judge LLM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Direct LLM Prediction",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model Final": {
      "ai_languageModel": [
        [
          {
            "node": "Final Judge LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90e23667340ace41962d058fc868fb2e5ba87ab648635fe0aec0ad9b03aec0ba"
  }
}
